<head>
<link rel="stylesheet" type="text/css" href="/css/academy_of_sciences.css">
  <title>California Academy of Sciences</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="AoS">
  <h1> California Academy of Sciences </h1>
  <h4> With an aquarium, planetarium, natural history museum, and so much more, the California Academy of Sciences is a must-see destination. From the splashing penguins to the wildflowers on the roof, the building is bursting with life. </h4>
    <h4> The Academy of Sciences is open from 9:30AM to 5PM on Mondays-Saturdays and 11AM to 5PM on Sundays and admission is $35. </h4>
  </div>