<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Alcatrz</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="Alcatraz">
  <h1> Alcatraz </h1>
  <h4> Alcatraz was the site of the first lighthouse in the Western United States but became a very famous federal prison. A visit to the island includes a tour of the cell house where visitors can see where the prisoners lived.
</h4>
    <h4> Alcatraz is accessable by ferry from 9AM to 9PM every day for $30. </h4>
  </div>