<head>
<link rel="stylesheet" type="text/css" href="/css/angel_island.css">
  <title>Angel Island</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="AI">
  <h1> Angel Island </h1>
  <h4> Known as the Ellis Island of the West, the Immigration Station opened in 1910 and closed in 1940. During that time more than one million individuals were processed through the center from Asia. Ferry service to the island is available from Fisherman’s Wharf.
  </h4>
    <h4> Angel Island is open to the public from 8AM to sunset, but the available days to visit vary depending on the month. Ferry tickets and tours cost a total of $20. </h4>
  </div>