<head>
<link rel="stylesheet" type="text/css" href="/css/att_park.css">
  <title>AT&T park</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="ATTP">
  <h1> AT&T park </h1>
  <h4> AT&T Park is the home of the San Francisco Giants. Enjoy a great baseball game while also feasting on their famous garlic fries in a stadium by the bay.
 </h4>
    <h4> Check the San Francisco Giants' schedule for start times and days when games are played, ticket prices also vary by game and seat. </h4>
  </div>