<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Cable Car Museum</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="CCM">
  <h1> Cable Car Museum </h1>
  <h4> The Cable Car Museum overlooks the enormous engines and winding wheels that pull the cables for San Francisco’s famous trams. It also features antique cable cars from the 1870s, photographs, mechanical displays and a fun gift shop. </h4>
    <h4> The Cable Car Museum is open from 10AM to 6PM from April-September, and 10AM to 5PM from October to March. </h4>
  </div>