<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>PUT TITLE HERE</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="PUT AN ID NAME HERE">
  <h1> PUT HEADER </h1>
  <h4> PUT SMALLER WORDS  </h4>
  </div>