<head>
<link rel="stylesheet" type="text/css" href="/css/chinatown.erb.css">
  <title>Chinatown</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="CT">
  <h1> Chinatown</h1>
  <h4> Chinatown is great to get Asian food and a breath of Chinese culture. There are many wonderful resturants there.  </h4>
  </div>