<head>
<link rel="stylesheet" type="text/css" href="/css/crissy_field.css">
  <title>Crissy Field</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="CF">
  <h1> Crissy Field </h1>
  <h4> This waterfront park has spectacular views of the bay and the Golden Gate Bridge. Enjoy long walks along its scenic swamps and catch glimpses of birds and plants.  </h4>
  </div>