<head>
<link rel="stylesheet" type="text/css" href="/css/de_young.css">
  <title>De Young Museum</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="DY">
  <h1> De Young Museum </h1>
  <h4> Located in San Francisco's Golden Gate Park, the de Young has American art from the 17th through 21st centuries, modern and contemporary art, photography, international textiles and costumes, and art from Africa, Oceania, and the Americas.
  </h4>
    <h4> The De Young Museum is open from 9:30AM to 5:15PM on Tuesday-Sunday, and 9:30AM to 8:45PM on Fridays, the museum is closed on Mondays. Tickets cost $10 for adults. </h4>
  </div>