<head>
<link rel="stylesheet" type="text/css" href="/css/exploratorium.css">
  <title>Exploratorium</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="Exploratorium">
  <h1> Exploratorium </h1>
  <h4> The Exploratorium is a home-grown, hands-on museum stimulating curiosity and inspiring creativity in people of all ages. With more than 600 hands-on exhibits this is the place to be.  </h4>
    <h4> The Exploratorium is open from 10AM to 5PM everyday, and tickets cost $30. </h4>
  </div>