<head>
<link rel="stylesheet" type="text/css" href="/css/golden_gate_bridge.css">
  <title>Golden Gate Bridge</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="GGB">
  <h1> Golden Gate Bridge </h1>
  <h4> The Golden Gate Bridge is an amazing bridge that opened in 1937. Spanning 1.7 miles from San Francisco to the Marin Headlands, the bridge’s sidewalks are open during the day to many pedestrians.
  </h4>
  </div>