<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Golden Gate Park</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="GGP">
  <h1> Golden Gate Park </h1>
  <h4> Golden Gate Park stretches three miles. There’s not a single “Keep Off the Grass” sign and its 1,017 acres are a boost for the mind and body. With two major museums, splendid gardens and facilities for more than 20 sports confirm that this is an amazing place to be.
  </h4>
  </div>