
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>TouriSF</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="words">
  <h1> TouriSF </h1>
  <h4> Made by Ike, Nicole, Griffin, Sophia  </h4>
  </div>
  </CENTER>
<body>
<div id="attractions">
<ul>

<li>Academy of Sciences</li>
<li>Alcatraz</li>
<li>Angel Island</li>
<li>AT&T Park</li>
<li><a href="http://www.hyperlinkcode.com/">Hyperlink Code</a></li>
<li>Cable Car Museum</li>
<li>Chinatown</li>
 <li>Crissy Field</li>
<li>De Young Museum</li>
<li>The Exploratorium</li>
<li>Fisherman's Wharf</li>
<li>Golden Gate Bridge</li>
<li>Golden Gate Park</li>
<li>Legion of Honor</li>
<li>Pier 39</li>
<li>Presidio</li>
<li>SF MOMA</li>
<li>SF Zoo</li>
<li>Yerba Buena</li>

</ul>
</div>
</body>


