
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>TouriSF</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="words">
  <h1> TouriSF </h1>
  <h4> Made by Ike, Nicole, Griffin, Sophia  </h4>
  </div>
  </CENTER>
<body>
<div id="attractions">
<ul>

<li><a href="academy_of_sciences.erb">Academy of Sciences</a></li>
<li><a href="alcatraz.erb">Alcatraz</a></li>
<li><a href="angel_island.erb">Angel Island</a></li>
<li><a href="att_park.erb">AT&T Park</a></li>
<li><a href="cable_car_museum.erb">Cable Car Museum</a></li>
<li><a href="chinatown.erb">Chinatown</a></li>
<li><a href="crissy_field.erb">Crissy Field</a></li>
<li><a href="de_young.erb">De Young Museum</a></li>
<li><a href="exploratorium.erb">The Exploratorium</a></li>
<li><a href="fishermans_wharf.erb">Fisherman's Wharf</a></li>
<li><a href="golden_gate_bridge.erb">Golden Gate Bridge</a></li>
<li><a href="golden_gate_park.erb">Golden Gate Park</a></li>
<li><a href="legion_of_honor.erb">Legion of Honor</a></li>
<li><a href="pier_39.erb">Pier 39</a></li>
<li><a href="presidio.erb">Presidio</a></li>
<li><a href="sf_moma.erb">SF MOMA</a></li>
<li><a href="sf_zoo.erb">SF Zoo</a></li>
<li><a href="yerba_buena.erb">Yerba Buena</a></li>

</ul>
</div>
</body>