<head>
<link rel="stylesheet" type="text/css" href="/css/legion_of_honor.css">
  <title>Legion of Honor</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="LoH">
  <h1> Legion of Honor </h1>
  <h4>  Built to honor Californian soldiers who died in World War I, the Legion of Honor displays a collection of more than 4,000 years of ancient and European art and houses.  </h4>
    <h4> The Legion of Honor is open from 9:30AM to 5:15PM everyday for $10. </h4>
  </div>