<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Presidio</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="Presidio">
  <h1> Presidio </h1>
  <h4> A former military post, the Presidio is now a national park featuring spectacular trails, and historic and architectural treasures. Come for a hike, a tour, or a picnic. </h4>
    <h4> The Presidio is open from 10AM to 4PM on Thursday-Sunday. </h4>
  </div>