<head>
<link rel="stylesheet" type="text/css" href="/css/sf_moma.css">
  <title>SFMOMA</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="SFM">
  <h1> San Francisco Museum of Modern Art </h1>
  <h4> The SFMOMA is currently closed due to renovations and will not be open until 2016. The SFMOMA Museum Store is now open in a temporary location offering a selection of modern and contemporary art books, innovative furnishings, contemporary jewelry and accessories, and children's books and toys.
  </h4>
    <h4> The SFMOMA is open from 11AM to 7PM Monday-Saturday and 12PM to 5PM Sunday for $12.50. </h4>
  </div>