<head>
<link rel="stylesheet" type="text/css" href="/css/sf_zoo.css">
  <title>SF Zoo</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="SFZ">
  <h1> SF Zoo </h1>
  <h4> The San Francisco Zoo and Gardens has more than 1,000 endangered and rescued animals representing 250 species. 
  </h4>
    <h4> The SF Zoo is open from 10AM to 5PM everyday for $20. </h4>
  </div>