<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Yerba Buena Gardens</title>
     <style TYPE="text/css">

   a:link, a:visited, a:hover, a:active { color: #FFFC33;
       text-decoration: underline;
     }

    </style> 
  </head>
<CENTER>
  <div id="YBG">
  <h1> Yerba Buena Gardens </h1>
  <h4> Yerba Buena Gardens feature a children’s garden, public art, museums, a carousel, ice-skating rink and bowling centers. This is a great place for children.  </h4>
    
    <h4> Yerba Buena Gardens are open from 12PM to 6PM on Wednesdays and Sundays, 12PM to 8PM Thursday-Saturday and the first Tuesday of the month. The cost is $10. </h4> 
  </div>