h1 {
  font-size: 90px;
  color: #FF0F0F;
  }
body {
        background-image: url("https://loveletterstosf.files.wordpress.com/2012/02/img_3012.jpg");
  background-size: 2500px, 2500px;
  background-repeat: no-repeat;
} 
#words {
  font-family: boulder;
}

h4 {position: relative;
    right: 0px;
  bottom: -623px;
  font-size: 30px;
 }
h4 {
  color: #000000;
}
#attractions {
  font-size: 29px;
  color: #FFFC33;
  text-align: "left";
  font-family: boulder;
  position: relative;
  top: -50px;
  left: -15px;
  text-decoration:underline;
  }
body span {
  background-color: blue;
}
