h1 {
  font-size: 90px;
  color: #FF0F0F;
  }
body {
        background-image: url("http://www.presidio.gov/PublishingImages/Crissy%20Field%20Main/crissyfield2_620x390.jpg");
  background-repeat: no-repeat;
  background-size: 2500px, 2500px;
} 
#words {
  font-family: boulder;
}

h4 {position: relative;
    right: 0px;
  bottom: -123px;
  font-size: 40px ;
 }
h4 {
  color: #000000;
}
#attractions {
  font-size: 29px;
  color: #FFFC33;
  text-align: "left";
  font-family: boulder;
  position: relative;
  top: -50px;
  left: -15px;
  text-decoration:underline;
  }
body span {
  background-color: blue;
}
