h1 {
  font-size: 360px;
  color: #FFFFFF;
  position: relative;
    top: 30px;
  left: 300px;
  }
body {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/78/California_Palace_of_the_Legion_of_Honor,_01.JPG");
   background-size: 5950px 3000px;
  background-repeat: no-repeat;
} 
#words {
  font-family: boulder;
}

h4 {position: relative;
    right: -403px;
  bottom: -1400px;
  font-size: 65px;
 }
h4 {
  color: #000000;
}
#attractions {
  font-size: 50px;
  color: #FFFC33;
  text-align: "left";
  font-family: boulder;
  position: relative;
  top: -50px;
  left: -15px;
  text-decoration:underline;
  }
body span {
  background-color: blue;
}

