h1 {
  font-size: 360px;
  color: #FFFFFF;
  }
body {
        background-image: url("http://s3-us-west-1.amazonaws.com/cdn.hdrelay.com/c/24/pier%2039.jpg");
   background-size: 5900px 3000px;
  background-repeat: no-repeat;
} 
#words {
  font-family: boulder;
}

h4 {position: relative;
    right: -53px;
  bottom: -723px;
  font-size: 90px;
 }
h4 {
  color: #ff1717;
}
#attractions {
  font-size: 29px;
  color: #FFFC33;
  text-align: "left";
  font-family: boulder;
  position: relative;
  top: -50px;
  left: -15px;
  text-decoration:underline;
  }
body span {
  background-color: blue;
}

