h1 {
  font-size: 360px;
  color: #eef00c;
  }
body {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/San_Francisco_Museum_of_Modern_Art_in_2011.jpg");
   background-size: 5500px 3000px;
  background-repeat: no-repeat;
} 
#words {
  font-family: boulder;
}

h4 {
  text-align: "bottom";
  font-size: 110px;
 }
h4 {
  color: #7cbfd8;
}
#attractions {
  font-size: 29px;
  color: #FFFC33;
  text-align: "left";
  font-family: boulder;
  position: relative;
  top: -50px;
  left: -15px;
  text-decoration:underline;
  }
body span {
  background-color: blue;
}

