h1 {
  font-size: 360px;
  color: #4d4b34;
  }
body {
        background-image: url("https://sfonewb.files.wordpress.com/2011/11/sf-zoo_may-2011-043.jpg");
   background-size: 6000px 3000px;
  background-repeat: no-repeat;
} 
#words {
  font-family: boulder;
}

h4 {
  text-align: "bottom";
  font-size: 120px;
 }
h4 {
  color: #398551;
}
#attractions {
  font-size: 29px;
  color: #FFFC33;
  text-align: "left";
  font-family: boulder;
  position: relative;
  top: -50px;
  left: -15px;
  text-decoration:underline;
  }
body span {
  background-color: blue;
}

